extends ../layouts/common
block content
       h1 View User
       
       each u in user
              table
                     tr
                            td Name
                            td= u.name
                     tr
                            td Phone
                            td= u.phone
                     tr
                            td Avatar
                            td
                     tr     
                            td
                                    img(src=u.avatar,width="500",height="300")
                            td